.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: white;
  color: #16a34a;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.navbar-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 640px) {
  .navbar-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 1024px) {
  .navbar-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navbar-logo {
  cursor: pointer;
}

.navbar-logo img {
  width: 50%;
}

.navbar-button {
  color: #16a34a;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar-icon {
  width: 24px;
  height: 24px;
}

.navbar-links {
  display: none;
}

@media (min-width: 1024px) {
  .navbar-links {
    display: flex;
    gap: 24px;
  }

  .navbar-link {
    font-size: 1.125rem;
    font-weight: bold;
    color: #16a34a;
    text-decoration: none;
  }

  .navbar-link:hover {
    color: #0d8b1e;
  }
}
