.cartSummary {
  padding: 10px;
  border-top: 1px #ccc;
  text-align: right;
  background-color: #22c55e;
}

.cartSummary h2 {
  margin: 0 0 10px 0;
}

.cartSummary p {
  font-size: 18px;
  font-weight: bold;
}
