.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px #ccc;
  background-color: #22c55e;
}

.cartItem h4 {
  margin: 0;
}

.cartItem input {
  width: 100px;
  color: black;
  text-align: center;
}

.cartItem button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cartItem button:hover {
  background-color: #ff4d4d;
}
