.checkoutPage {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #16a34a;
}

.checkoutPage h1 {
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 80px;
}
