.register-container {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #16a34a;
}

.register-image-container {
  display: flex;
  justify-content: center;
}

.register-image {
  border-radius: 0.375rem;
  height: auto;
  width: 60%;
}

.register-form-container {
  max-width: 28rem;
  padding: 1.5rem;
  margin-right: 2.5rem;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-title {
  font-size: 1.875rem;
  text-align: center;
  color: black;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  font-size: 0.875rem;
  color: black;
  font-weight: 500;
}

.form-input {
  margin-top: 0.25rem;
  background-color: white;
  color: black;
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.register-button {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #2563eb;
  color: white;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
}

.register-button:hover {
  background-color: #1d4ed8;
}

.register-links {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.link-text {
  color: black;
  padding: 0.5rem 0;
}

.link {
  color: #16a34a;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
